<body>
    <form method="post" action="/change">
        <label>Device 1:</label>
        <br>
        <label>turn:</label>
        <input type="text" name="device1_turn" value=False>
        <br>
        <label>intensity:</label>
        <input type="text" name="device1_intensity" value=12>
        <br>
        <label>Device 2:</label>
        <br>
        <label>turn:</label>
        <input type="text" name="device2_turn" value=False>
        <br>
        <label>intensity:</label>
        <input type="text" name="device2_intensity" value=2>
        <br>
        <label>Device 3:</label>
        <br>
        <label>turn:</label>
        <input type="text" name="device3_turn" value=False>
        <br>
        <label>intensity:</label>
        <input type="text" name="device3_intensity" value=2>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>